@import url("https://fonts.googleapis.com/css2?family=Courgette&family=Nunito:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,700&family=Poppins:wght@500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Nunito", sans-serif;
  font-size: 16px;
}

#header-img {
  height: 90%;
}

#header {
  background-color: rgba(27, 27, 122, 0.52);
  width: 100vw;
  height: 70px;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  position: fixed;
}

#header div {
  width: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

#header span {
  font-family: "Courgette", cursive;
  font-size: 1.75em;
  color: black;
}

#nav-bar {
  width: 70%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.nav-link {
  display: inline-block;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
}

#nav-bar a:hover {
  cursor: pointer;
}

#home {
  min-width: 100vw;
  min-height: auto;
  position: relative;
  padding-bottom: 50px;
  top: 70px;
}

#home::before {
  content: "";
  position: absolute;
  background: url("https://cdn.pixabay.com/photo/2013/07/12/12/54/world-map-146505_960_720.png")
    no-repeat center;
  background-size: cover;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0.5;
  z-index: -1;
}

#lang-banner {
  width: 70%;
  display: block;
  margin: 0 auto;
}

#home h1 {
  width: 500px;
  font-size: 2.4em;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 50px;
  font-family: "Montserrat", sans-serif;
  line-height: 2;
}

#download-btns {
  width: 60%;
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
}

#home button {
  width: 200px;
  padding: 15px;
  font-size: 1.2em;
  background-color: white;
  border-radius: 0.5em;
}

.fa-apple,
.fa-google-play {
  margin-right: 5px;
}

#how-works {
  width: 80vw;
  margin: 120px auto 0 auto;
  /* padding: 30px; */
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

#how-works .card {
  width: 350px;
  height: 400px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-content: space-evenly;
}

.card-header {
  font-size: 1.2em;
  color: navy;
  text-transform: uppercase;
}

.card-body {
  font-family: "Poppins", sans-serif;
  text-align: justify;
  padding: 0 50px;
  height: 200px;
  line-height: 1.5;
}

.fa-chalkboard-teacher {
  color: blue;
}
.fa-check-square {
  color: green;
}
.fa-gem {
  color: red;
}

#why {
  text-align: center;
}

iframe {
  width: 60%;
  height: 400px;
}

#contact {
  height: 250px;
  margin: 5%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.fa-phone-square-alt,
.fa-envelope {
  margin-right: 10px;
}
.fa-twitter-square,
.fa-facebook-square {
  margin-left: 10px;
}

footer {
  background-color: rgba(27, 27, 122, 0.708);
  height: 70px;
  padding: 0 20px;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer a {
  text-decoration: none;
  color: rgba(242, 225, 225, 1);
}

#privacy {
  font-size: 0.85em;
  color: rgba(242, 225, 225, 1);
}

#email {
  padding: 5px;
  width: 200px;
}

#submit {
  padding: 8px 25px;
  border-radius: 0.5em;
  background-color: black;
  color: white;
  text-transform: uppercase;
  border-width: 1px;
  border-style: none;
  cursor: pointer;
}

#form * {
  margin-left: 10px;
}

@media only screen and (max-width: 720px) {
  #header-img {
    display: none;
  }

  #nav-bar {
    width: 85%;
    font-size: 0.9em;
  }

  /* app store and google play buttons */
  #download-btns {
    display: block;
  }

  #download-btns button {
    display: block;
    margin: 15px auto;
  }

  #home h1 {
    font-size: 2em;
  }
}
